%h2 Ticket Details

%ul
  != nav_item "Edit", edit_feedback_ticket_path(@feedback_ticket), {}, :update, @feedback_ticket

%dl
  %dt Description
  %dd= @feedback_ticket.description
  %dt User
  %dd= @feedback_ticket.user.nil? ? "" : @feedback_ticket.user.email
  %dt Request url
  %dd= @feedback_ticket.request_url
  %dt Status
  %dd= @feedback_ticket.status.name
  %dt Comments
  %dd= @feedback_ticket.comments
  %dt Created
  %dd= @feedback_ticket.created_at
  %dt Updated
  %dd= @feedback_ticket.updated_at
