%div.form-container
  = semantic_form_for [section, meeting_shift] do |meeting_shift_form|
    = meeting_shift_form.inputs do
      = meeting_shift_form.input :title
      - unless meeting_shift.new_record?
        = meeting_shift_form.input :sections, :as => :check_boxes, :collection => Section.where("sections.id <> ?", section.id), :label => "Sharing"
    = meeting_shift_form.buttons do
      = meeting_shift_form.commit_button :button_html => { :class => "button" }
      %li
        or
        = link_to "Cancel", section_shifts_path(section)
