- content_for :content_menu do
  = render "schedules/section_menu"

%h3 Vacation Request

%div.form-container
  = semantic_form_for [@section, @vacation_request] do |vacation_request_form|
    = vacation_request_form.inputs do
      = vacation_request_form.input :comments, :input_html => { :rows => 5 }
    = vacation_request_form.buttons do
      = vacation_request_form.commit_button
      %li
        or
        = link_to "Cancel", section_vacation_requests_path(@section)
