- page_title "Vacation Requests"

- content_for :content_menu do
  = render "schedules/section_menu"

%h3 Vacation requests

%p= link_to "New Request", new_section_vacation_request_path(@section), { :class => "button" }

- unless @vacation_requests.blank?
  - is_section_admin = can? :manage, @section
  %table
    %thead
      %tr
        %th Requester
        %th Submitted
        %th Dates
        %th Comments
        %th Status
        - if is_section_admin
          %th Actions
    - @vacation_requests.each do |vacation_request|
      %tr
        %td= vacation_request.requester.short_name
        %td
          - time = vacation_request.created_at
          = time.strftime("#{time.day} %b @ %I %p").gsub(/ 0/, " ")
        %td
          - start = vacation_request.start_date
          = start.strftime("#{start.day} %b %Y")
          - unless (end_date = vacation_request.end_date).nil?
            = end_date.strftime(" - #{end_date.day} %b %Y")
        %td= vacation_request.comments
        %td= vacation_request.status.capitalize
        - if is_section_admin
          %td= button_to("Approve", { :action => "approve", :id => vacation_request.id }) if vacation_request.status == "pending"
