- content_for :content_menu do
  = render "rotation_menu"

= form_for @rotation do |rotation_form|
  %div= rotation_form.label :title
  %div= rotation_form.text_field :title
  %div= rotation_form.label :description
  %div= rotation_form.text_field :description
  %div
    = rotation_form.submit "Save", :class => "button"
    or
    = link_to "Cancel", rotations_path
