- content_for :content_menu do
  = render "rotation_menu.html"

%div.form-container
  = semantic_form_for rotation do |rotation_form|
    = rotation_form.inputs :title, :description
    = rotation_form.buttons do
      = rotation_form.commit_button
      %li
        or
        = link_to "Cancel", rotations_path
