%h2 Saturn FAQ

%ul
  != nav_item "Add Question", new_help_question_path, {}, :create, HelpQuestion

%h3 Questions
%ol
  - @help_questions.each do |question|
    %li= link_to question.title, url_for(:anchor => "faq-#{question.id}")

%hr

%h3 Answers
%ol
  - @help_questions.each do |question|
    %li
      %dl
        %dt
          %a{ :name => "faq-#{question.id}" }
          = question.title
        %dd= question.answer
