%table
  %thead
    %tr
      %th Class
      %th Count
      %th Time Since Last Update
  %tbody
    %tr
      %td Assignments
      %td= @assignment_count
      %td!= @recent_assignments.map { |a| "#{a.weekly_schedule.section.title}: #{time_ago_in_words(a.updated_at)}" }.join("<br/>")
    %tr
      %td Sections
      %td= @section_count
      %td!= @sections.map { |s| "#{s.title}: #{time_ago_in_words(s.updated_at)}" }.join("<br/>")
