%h2 Scheduler Users

- if @users.size > 0
  = form_tag roles_users_path, :method => :put do
    = save_or_cancel nil, users_path
    %table
      %thead
        %tr
          %th Email
          %th Admin?
      - @users.each do |user|
        = fields_for "users[]", user do |user_fields|
          %tr
            %td= user.email
            %td= user_fields.check_box :admin
    = save_or_cancel nil, users_path
