- page_title "Educational conferences"

%h2 Educational Conferences

= form_tag conferences_path, :method => :get do
  = select_year(@date)
  = select_month(@date)
  = select_day(@date)
  = submit_tag "Jump to date"
%p= link_to "view today", conferences_path

%table
  %tr 
    %th Title
    %th Presenter
    %th Description
    %th Starts at
    %th Ends at
    %th Location
    %th Contact
    %th Categories
    %th 

  - @conferences.each do |conference|
    %tr 
      %td= conference.title
      %td= conference.presenter
      %td= conference.description
      %td= conference.starts_at.strftime("%I:%M%p").gsub(/^0/, "")
      %td= conference.ends_at.strftime("%I:%M%p").gsub(/^0/, "")
      %td= conference.location
      %td= mail_to conference.contact
      %td= conference.categories
      %td= link_to 'Show', conference
