<h1>Conferences Today</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Categories</th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= conference.title %></td>
    <td><%= conference.description %></td>
    <td><%= conference.starts_at.to_s(:long) %></td>
    <td><%= conference.ends_at.to_s(:long) %></td>
    <td><%= conference.categories %></td>
    <td><%= link_to 'Show', conference %></td>
  </tr>
<% end %>
</table>
