<p>
  <b>Title:</b>
  <%= @conference.title %>
</p>

<p>
  <b>Description:</b>
  <%= @conference.description %>
</p>

<p>
  <b>Calcium uid:</b>
  <%= @conference.calcium_uid %>
</p>

<p>
  <b>Starts at:</b>
  <%= @conference.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @conference.ends_at %>
</p>

<p>
  <b>Categories:</b>
  <%= @conference.categories %>
</p>


<%= link_to 'Back', conferences_path %>
