- page_title "Schedule for #{@physician.full_name}"

- content_for :stylesheets do
  = stylesheet_link_tag "schedule"

%h2= @physician.full_name

%h3= "Published Schedule #{@schedule.dates.first.to_s(:long)} - #{@schedule.dates.last.to_s(:long)}"
= form_tag schedule_physician_path(@physician), :method => :get do
  = select_year(@schedule.dates.first)
  = select_month(@schedule.dates.first)
  = select_day(@schedule.dates.first)
  = submit_tag "Show"
%p= link_to "show today", schedule_physician_path(@physician)

%p.content_actions
  - date = @schedule.dates.first
  = link_to "Download or subscribe to iCalendar", schedule_physician_path(@physician, :format => :ics, :date => { :year => date.year, :month => date.month, :day => date.day })

%div.schedule-column-header.prepended-column-header
  %div.placeholder &nbsp;
  %div.placeholder &nbsp;
  - last_month = @schedule.dates.first - 28
  %a{ :href => schedule_physician_path(@physician, :date => { :year => last_month.year, :month => last_month.month, :day => last_month.day }) }
    &laquo; previous

- today = Date.today
%div.schedule.block-schedule
  %table.schedule-header
    %thead
      %tr
        %th.empty
        - weekdays = %w{ Mon Tue Wed Thu Fri Sat Sun }
        - weekdays.each_with_index do |day, index|
          %th{ :class => index + 1 == today.wday ? "current-date" : ""}= day
  - @schedule.dates.each_slice(7) do |dates|
    %table.schedule-row-header
      %thead
        %tr
          %th.empty
          - dates.each do |date|
            %th{ :class => date == today ? "current-date" : "" }><
              %span.date-label= holiday_title_on(date)
              %br
              = date.to_s(:short)
    - @physician.sections.each do |section|
      %table.schedule-row
        %tr
          %th= link_to section.title, weekly_section_schedule_path(section)
          - dates.each do |date|
            - assignments = @schedule.assignments_for_section_and_date(section, date)
            - unless assignments.blank?
              %td{ :class => date == today ? "current-date" : "" }= render :partial => "assignment", :collection => assignments, :spacer_template => "break"
            - else
              %td &nbsp;

%div.schedule-column-header.appended-column-header
  %div.placeholder &nbsp;
  %div.placeholder &nbsp;
  - next_month = @schedule.dates.first + 28
  %a{ :href => schedule_physician_path(@physician, :date => { :year => next_month.year, :month => next_month.month, :day => next_month.day }) }
    next &raquo;

%div{ :style => "clear:both;height:1em;" } &nbsp;

- if @physician.assignment_requests.any?
  %h3 Your Requests
  %table
    = render :partial => "request_detail_row.html", :collection => @physician.assignment_requests, :as => :request, :locals => { :physician => @physician }

%div{ :style => "clear:both;height:1em;" } &nbsp;

%h3 Your Totals
- @physician.sections.each do |section|
  %p= link_to section.title, section_physician_shift_totals_path(section, @physician)
