- page_title "Schedule for #{@physician.full_name}"

%h2= @physician.full_name

%h3= "Week of #{@dates.first.to_s(:long)}"
= form_tag schedule_physician_path(@physician), :method => :get do
  = select_year(@dates.first)
  = select_month(@dates.first)
  = select_day(@dates.first)
  = submit_tag "Jump to date"
%p= link_to "view today", schedule_physician_path(@physician)

%p.content_actions
  = link_to "Download as iCalendar", schedule_physician_path(@physician, :format => :ics, :date => @dates.first.to_s)

%table.schedule
  %thead
    %tr
      %th
      - @dates.each do |date|
        %th{ :class => date == Date.today ? "current-date" : "" }= short_date(date)
    - @physician.sections.each do |section|
      %tr
        %th= link_to section.title, weekly_section_schedule_path(section)
        - section_assignments = @assignments_by_section[section] || []
        - assignments_by_date = section_assignments.group_by(&:date)
        - @dates.each do |date|
          - unless assignments_by_date[date].blank?
            %td{ :class => date == Date.today ? "current-date" : "" }!= assignments_by_date[date].map{|a|a.shift.title}.join("<br/>")
          - else
            %td &nbsp;
