%h2 Find Physician Schedules

= form_tag search_physicians_path, :method => :get, :class => "formtastic" do
  = field_set_tag nil, :class => "inputs" do
    %ol
      %li
        = label_tag ""
        = text_field_tag "query", params[:query], :maxwidth => 255
        = submit_tag "Search Physicians", :class => "button"

- unless @query.blank?
  %h3= "#{pluralize(@physicians.total_entries, "Result")} for '#{@query}'"

- unless @physicians.blank?
  = will_paginate @physicians, :previous_label => "« Previous", :next_label => "Next »"
  %table.schedule
    %thead
      %tr
        %th &nbsp;
        - @dates.each do |date|
          %th= date.to_s(:short_with_weekday)
    = render :partial => "weekly_schedule.html", :collection => physicians_weekly_schedules(@physicians, @dates, @assignments)
  = will_paginate @physicians, :previous_label => "« Previous", :next_label => "Next »"
