- content_for :stylesheets do
  = stylesheet_link_tag "schedule"

%h2 Find Physician Schedules

= form_tag search_physicians_path, :method => :get, :class => "formtastic" do
  = field_set_tag nil, :class => "inputs" do
    %ol
      %li
        = label_tag ""
        = text_field_tag "query", params[:query], :maxwidth => 255
        = submit_tag "Search Physicians", :class => "button"

- unless @query.blank?
  %h3= "#{pluralize(@physicians.count, "Result")} for '#{@query}'"

- unless @physicians.blank?
  %table.schedule.paginated-schedule
    %thead
      %tr
        %th.empty
        = render :partial => "schedules/date_header", :collection => @dates, :as => :date
    = render :partial => "weekly_schedule.html", :collection => physicians_weekly_schedules(@physicians, @dates, @assignments)
