- unless @assignments.blank?
  - conflicts_summaries = schedule.rules_conflicts
  - duration_rule = conflicts_summaries.duration_rule
  - count_rules = conflicts_summaries.count_rules
  - unless duration_rule.blank? && count_rules.blank?
    %h3 Rules Conflicts
    - if duration_rule
      - conflicts = conflicts_summaries.weekly_conflicts
      - if duration_rule.minimum
        %h4= duration_rule.minimum_summary
        %ul
          = render :partial => "rule_conflict_summary", :collection => conflicts[:below_minimum], :as => :summary, :locals => { :physician_names_by_id => physician_names_by_id }
      - if duration_rule.maximum
        %h4= duration_rule.maximum_summary
        %ul
          = render :partial => "rule_conflict_summary", :collection => conflicts[:above_maximum], :as => :summary, :locals => { :physician_names_by_id => physician_names_by_id }

    - count_rules.each do |count_rule|
      - if count_rule.maximum
        %h4= count_rule.summary
        %ul
          = render :partial => "rule_conflict_summary", :collection => conflicts_summaries.physician_ids_over_daily_count_max(count_rule), :as => :summary, :locals => { :physician_names_by_id => physician_names_by_id }
