- unless @assignments.blank?
  - duration_rule = @section.weekly_shift_duration_rule
  - count_rules = @section.daily_shift_count_rules
  - unless duration_rule.blank? && count_rules.blank?
    %h3 Rules Conflicts
    - assignments_by_physician_id = @assignments.group_by(&:physician_id)
    - if duration_rule
      - offenders = duration_rule.process(assignments_by_physician_id)
      - if duration_rule.minimum
        %h4= "Below weekly minimum (#{duration_rule.minimum})"
        %ul
          - offenders[:below_minimum].each do |summary|
            %li= "#{@physician_names_by_id[summary[:physician_id]]} (#{summary[:description]})"
      - if duration_rule.maximum
        %h4= "Above weekly maximum (#{duration_rule.maximum})"
        %ul
          - offenders[:above_maximum].each do |summary|
            %li= "#{@physician_names_by_id[summary[:physician_id]]} (#{summary[:description]})"

    - count_rules.each do |count_rule|
      - if count_rule.maximum
        - over = count_rule.process(assignments_by_physician_id)
        %h4= "Above daily maximum for #{count_rule.shift_tag.title}"
        %ul
          - over.each do |summary|
            %li= "#{@physician_names_by_id[summary[:physician_id]]} (#{summary[:description]})"
