- unless @assignments.blank?
  - duration_rule = @section.weekly_shift_duration_rule
  - count_rules = @section.daily_shift_count_rules
  - unless duration_rule.blank? && count_rules.blank?
    %h3 Rules Conflicts
  - assignments_by_physician = @assignments.group_by(&:physician)
  - if duration_rule
    - under, over = duration_rule.process(assignments_by_physician)
    - if duration_rule.minimum
      %h4= "Below weekly minimum (#{duration_rule.minimum})"
      %ul
        - under.each do |physician, duration|
          %li= "#{physician.short_name} (#{duration})"
    - if duration_rule.maximum
      %h4= "Above weekly maximum (#{duration_rule.maximum})"
      %ul
        - over.each do |physician, duration|
          %li= "#{physician.short_name} (#{duration})"

  - count_rules.each do |count_rule|
    - if count_rule.maximum
      - over = count_rule.process(assignments_by_physician)
      %h4= "Above daily maximum for #{count_rule.shift_tag.title}"
      %ul
        - over.each do |physician, total, date|
          %li= "#{physician.short_name} (#{total} on #{short_date date})"
