- if @section && !@section.new_record?
  %h2= @section.title
  %div.navcontainer
    %ul.navlist
      - date = @dates ? @dates.first : Date.today
      != nav_item "View Schedule", weekly_section_schedule_path(@section, :year => date.year, :month => date.month, :day => date.day), {}, nil, nil, /sections\/[\w-]+\/schedule/
      != nav_item "Requests", section_assignment_requests_path(@section), {}, nil, nil, /sections\/[\w-]+\/assignment_requests/
      != nav_item "Edit Schedule", edit_section_weekly_schedules_path(@section, :anchor => date), {}, :update, @section, /sections\/[\w-]+\/weekly_schedules\/edit/
      != nav_item "Rules", section_rules_path(@section), {}, nil, nil, /sections\/[\w-]+\/rules/
      != nav_item "Members", section_memberships_path(@section), {}, nil, nil, /sections\/[\w-]+\/members/
      != nav_item "Shifts", section_shifts_path(@section), {}, :update, @section, /sections\/[\w-]+\/shifts/
      != nav_item "Shift Categories", section_shift_tags_path(@section), {}, :update, @section, /sections\/[\w-]+\/shift_tags/
      != nav_item "Reports", section_shift_totals_path(@section), {}, nil, nil, /sections\/[\w-]+\/reports/
      != nav_item "Administrators", section_admins_path(@section), {}, :manage, @section, /sections\/[\w-]+\/admins/
