- content_for :javascripts do
  = javascript_include_tag 'jquery/jquery-1.4.2.min'
  = javascript_include_tag 'jquery/jquery-ui-1.8.4.custom.min'
  = javascript_include_tag 'schedules/schedule'
  = javascript_include_tag 'schedules/person'
  = javascript_include_tag 'schedules/assignment'
  = javascript_include_tag 'schedules/shift_day'

- content_for :stylesheets do
  = stylesheet_link_tag 'jquery/smoothness/jquery-ui-1.8.4.custom'
  = stylesheet_link_tag 'edit_weekly_section'
  %style
    :sass
      table.schedule
        width: #{@shifts.count*112+40}px

%h2= @schedule_section.title

%h3= "Week of #{@week_start_date.to_s(:long)}"

%div#assignment_template= render 'assignment'

%div.groups><
  - group_names = %w[Faculty Fellows Residents]
  %ul
    - group_names.each do |group_name|
      - unless @grouped_people[group_name].size == 0
        %li= link_to group_name, "#groups-#{group_name.downcase}"
  = render :partial => 'group', :locals => { :grouped_people => @grouped_people, :people_names => @people_names }, :collection => %w[Faculty Fellows Residents]

- form_for @weekly_schedule, :url => create_weekly_section_schedule_path do |form|
  - if @weekly_schedule.new_record?
    = form.hidden_field :date
  - else
    = form.hidden_field :id

  %div.schedule_publishing
    = @weekly_schedule.published? ? "Published at #{@weekly_schedule.published_at.to_s(:long)}" : "Not yet published"
    = form.submit "Save"

  %table.schedule
    %thead
      %tr
        %th.table_control
          %span.button_wrapper.ui-state-default
            %span.ui-icon.ui-icon-arrowthick-2-ne-sw
        = render :partial => 'shift_header', :collection => @shifts
    %tbody
      - mapped_assignments = @assignments.group_by {|a| [a.shift_id, a.date]}
      = render :partial => 'date_row', :locals => { :mapped_assignments => mapped_assignments }, :collection => @week_dates
