- content_for :javascripts do
  = javascript_include_tag 'jquery/jquery-ui-1.8.4.custom.min'
  = javascript_include_tag 'shared/broadcaster'
  = javascript_include_tag 'shared/button'
  = javascript_include_tag 'schedules/schedule'
  = javascript_include_tag 'schedules/person'
  = javascript_include_tag 'schedules/assignment'
  = javascript_include_tag 'schedules/shift_day'
  = javascript_include_tag 'shared/date_selector'

- content_for :stylesheets do
  = stylesheet_link_tag 'jquery/smoothness/jquery-ui-1.8.4.custom'
  = stylesheet_link_tag 'edit_weekly_section'

- content_for :content_menu do
  = render "section_menu"

%div.subheadline
  %h3= "Week of #{@week_start_date.to_s(:long)}"
  %div.inline_form
    = form_tag edit_weekly_section_schedule_path(@section), :method => :get do
      = text_field_tag "date", @week_dates.first.to_s

%div#assignment_template= render 'assignment'

%div.groups><
  - group_names = %w[Faculty Fellows Residents]
  %ul
    - group_names.each do |group_name|
      - unless @grouped_people[group_name].blank?
        %li= link_to group_name, "#groups-#{group_name.downcase}"
  = render :partial => 'group', :locals => { :grouped_people => @grouped_people }, :collection => %w[Faculty Fellows Residents]

- form_url = @weekly_schedule.new_record? ? create_weekly_section_schedule_path(@section) : update_weekly_section_schedule_path(@section)
= semantic_form_for @weekly_schedule, :url => form_url do |form|
  - if @weekly_schedule.new_record?
    = form.hidden_field :date
  - else
    = form.hidden_field :id

  %div.schedule_publishing
    = @weekly_schedule.published? ? "Published: #{@weekly_schedule.published_at.to_s(:long)}" : "Unpublished"
    | Publish?
    = form.check_box :publish
    = form.buttons do
      = form.commit_button
      %li
        or
        = link_to "Cancel", edit_weekly_section_schedule_path(@section)

  %table.schedule
    %thead
      %tr
        %th
        = render :partial => 'date_header', :collection => @week_dates
    %tbody
      - mapped_assignments = @assignments.group_by {|a| [a.shift_id, a.date]}
      = render :partial => 'shift', :collection => @shifts, :locals => { :mapped_assignments => mapped_assignments, :people_names => @people_names }

%div#rules-conflicts= render "rules_conflicts", :physicians_by_id => @physicians_by_id
