- page_title "#{@section.title} weekly schedule"

- content_for :stylesheets do
  = stylesheet_link_tag 'schedule'

- week_start_date = @schedule_presenter.dates.first
%h3= render "shared/date_select_widget", :prefix => "Published schedule for", :current_date => week_start_date, :view_path => weekly_section_schedule_path(@section, :year => week_start_date.year, :month => week_start_date.month, :day => week_start_date.day)
%p= link_to "View today", weekly_section_schedule_path(@section)

%p.content_actions= link_to "Download as Excel", weekly_section_schedule_path(@section, :format => :xls, :date => { :year => week_start_date.year, :month => week_start_date.month, :day => week_start_date.day }, :view_mode => @view_mode)

%table.schedule.wide-schedule
  %thead
    %tr
      %th.empty
        - if @view_mode == "2"
          = link_to "View by Shifts", weekly_section_schedule_path(@section, :year => week_start_date.year, :month => week_start_date.month, :day => week_start_date.day)
        - else
          = link_to "View by Physician", weekly_section_schedule_path(@section, :year => week_start_date.year, :month => week_start_date.month, :day => week_start_date.day, :view_mode => 2)
      - @schedule_presenter.each_col_header do |col_header|
        = render :partial => "schedules/headers/html/#{col_header[:type]}.html", :object => col_header[:object]
%div.schedule-wrapper
  %table.schedule.wide-schedule
    %tbody
      - @schedule_presenter.rows.each do |row|
        %tr{ :class => cycle("odd", "") }
          %th><= render :partial => "schedules/headers/html/#{row.header[:type]}.html", :object => row.header[:object]
          = render :partial => "schedule_cell.html", :collection => row.cells

%div#rules-conflicts= render "rules_conflicts.html", :physician_names_by_id => @schedule_presenter.physician_names_by_id, :schedule => @schedule_presenter.weekly_schedule, :assignments => @assignments
