- content_for :javascripts do
  = javascript_include_tag 'jquery/jquery-ui-1.8.4.custom.min'
  = javascript_include_tag 'shared/date_selector'
  = javascript_include_tag 'shared/table'

- content_for :stylesheets do
  = stylesheet_link_tag 'jquery/smoothness/jquery-ui-1.8.4.custom'
  = stylesheet_link_tag 'schedule'

- content_for :content_menu do
  = render "section_menu"

%h3 Published Schedule
%div.subheadline
  %h3= "Week of #{@dates.first.to_s(:long)}"
  %div.inline_form
    = form_tag weekly_section_schedule_path(@section), :method => :get do
      = text_field_tag "date", @dates.first.to_s

%p.content_actions= link_to "Download as Excel", weekly_section_schedule_path(@section, :format => :xls, :date => @dates.first.to_s, :view_mode => @view_mode)

%ul.notes
  - @notes.each do |note|
    %li= "#{note[:shift]} on #{note[:day]}, #{note[:initials]}: #{note[:text]}"

%table.schedule
  %thead
    %tr
      %th
        - if @view_mode == "2"
          = link_to "View by Shifts", weekly_section_schedule_path(@section, :date => @dates.first.to_s)
        - else
          = link_to "View by Physician", weekly_section_schedule_path(@section, :date => @dates.first.to_s, :view_mode => 2)
      - @schedule_presenter.each_col_header do |col_header|
        %th= render :partial => "schedules/headers/html/#{col_header[:type]}", :object => col_header[:object]
  %tbody
    - @schedule_presenter.each_row do |row|
      %tr{ :class => cycle("odd", "") }
        %th= render :partial => "schedules/headers/html/#{row.header[:type]}", :object => row.header[:object]
        - row.each_value do |value|
          %td!= value && value.join("<br/>")

%div#rules-conflicts= render "rules_conflicts", :physicians_by_id => @physicians_by_id
