- page_title "On Call"

- content_for :stylesheets do
  = stylesheet_link_tag "schedule"

- content_for :javascripts do
  = javascript_include_tag 'shared/date_selector'

- week_start_date = @schedule_presenter.dates.first
%h3= render "shared/date_select_widget", :prefix => "Published call schedule for", :current_date => week_start_date, :view_path => weekly_call_schedule_path(:year => week_start_date.year, :month => week_start_date.month, :day => week_start_date.day)

%div.schedule-column-header.prepended-column-header
  %div.placeholder &nbsp;
  %div.placeholder &nbsp;
  - last_week = week_start_date - 7
  %a{ :href => weekly_call_schedule_path(:date => { :year => last_week.year, :month => last_week.month, :day => last_week.day }) }
    &laquo; previous week

%table.schedule
  %thead
    %tr
      %th.empty
      = render :partial => "date_header", :collection => @schedule_presenter.dates, :as => :date
  %tbody
    - @schedule_presenter.shifts_by_section.each do |section, shifts|
      %tr
        %th.section-week{ :colspan => 8 }= section.title
      - shifts.each do |shift|
        %tr
          %th= shift.title
          - @schedule_presenter.dates.each do |date|
            = render :partial => "schedule_cell.html", :object => @schedule_presenter.summaries_by_section_id_shift_id_and_date(section.id, shift.id, date)

%div.schedule-column-header.appended-column-header
  %div.placeholder &nbsp;
  %div.placeholder &nbsp;
  - next_week = week_start_date + 7
  %a{ :href => weekly_call_schedule_path(:date => { :year => next_week.year, :month => next_week.month, :day => next_week.day }) }
    next week &raquo;
