- page_title "On Call"

- content_for :stylesheets do
  = stylesheet_link_tag "schedule"

%h3 Published Call Schedule
%h3= "Week of #{@schedule_presenter.dates.first.to_s(:long)}"
= form_tag weekly_call_schedule_path, :method => :get do
  = select_year(@schedule_presenter.dates.first)
  = select_month(@schedule_presenter.dates.first)
  = select_day(@schedule_presenter.dates.first)
  = submit_tag "View date"
%p= link_to "View today", weekly_call_schedule_path

%div.schedule-column-header.prepended-column-header
  %div.placeholder &nbsp;
  %div.placeholder &nbsp;
  - last_week = @schedule_presenter.dates.first - 7
  %a{ :href => weekly_call_schedule_path(:date => { :year => last_week.year, :month => last_week.month, :day => last_week.day }) }
    &laquo; previous week

%table.schedule
  %thead
    %tr
      %th.empty
      = render :partial => "date_header", :collection => @schedule_presenter.dates, :as => :date
  %tbody
    - @schedule_presenter.shifts_by_section.each do |section, shifts|
      %tr
        %th.section-week{ :colspan => 8 }= section.title
      - shifts.each do |shift|
        %tr
          %th= shift.title
          - @schedule_presenter.dates.each do |date|
            = render :partial => "schedule_cell.html", :object => @schedule_presenter.summaries_by_section_id_shift_id_and_date(section.id, shift.id, date)

%div.schedule-column-header.appended-column-header
  %div.placeholder &nbsp;
  %div.placeholder &nbsp;
  - next_week = @schedule_presenter.dates.first + 7
  %a{ :href => weekly_call_schedule_path(:date => { :year => next_week.year, :month => next_week.month, :day => next_week.day }) }
    next week &raquo;
