%h2 On Call

%h3= "Week of #{@start_date.to_s(:long)}"

- mapped_assignments = @call_assignments.group_by {|a| [a.shift_id, a.date]}
%table
  %thead
    %tr
      %th
      - @dates.each do |date|
        %th{ :class => date == Date.today ? "current-date" : "" }= short_date(date)
  %tbody
    - @call_shifts.each do |shift|
      %tr
        %th= shift.title
        - @dates.each do |date|
          - assignments_by_shift_and_date = mapped_assignments[[shift.id, date]]
          - if assignments_by_shift_and_date
            %td{ :class => date == Date.today ? "current-date" : "" }
              - assignments_by_shift_and_date.each do |assignment|
                = @physicians_by_id[assignment.physician_id].short_name
                %br
          - else
            %td &nbsp;
