- content_for :javascripts do
  = javascript_include_tag 'jquery/jquery-ui-1.8.4.custom.min'
  = javascript_include_tag 'shared/date_selector'

- content_for :stylesheets do
  = stylesheet_link_tag 'jquery/smoothness/jquery-ui-1.8.4.custom'

%h3 Published Call Schedule
%div.subheadline
  %h3= "Week of #{@dates.first.to_s(:long)}"
  %div.inline_form
    = form_tag weekly_call_schedule_path, :method => :get do
      = text_field_tag "date", @dates.first.to_s

- mapped_assignments = @call_assignments.group_by {|a| [a.shift_id, a.date]}
- shifts_by_section = @call_shifts.group_by {|s| s.section}
%table
  %thead
    %tr
      %th
      - @dates.each do |date|
        %th{ :class => date == Date.today ? "current-date" : "" }= short_date(date)
  %tbody
    - shifts_by_section.each do |section, shifts|
      %tr
        %th{ :colspan => 8, :style => "background-color: #c0d9d9;" }= section.title
      - shifts.each do |shift|
        %tr
          %th= shift.title
          - @dates.each do |date|
            - assignments_by_shift_and_date = mapped_assignments[[shift.id, date]]
            - if assignments_by_shift_and_date
              %td{ :class => date.today? ? "current-date" : "" }
                - assignments_by_shift_and_date.each do |assignment|
                  = @physicians_by_id[assignment.physician_id].short_name
                  %br
            - else
              %td &nbsp;
