- page_title "On Call"

%h3 Published Call Schedule
%h3= "Week of #{@schedule_presenter.dates.first.to_s(:long)}"
= form_tag weekly_call_schedule_path, :method => :get do
  = select_year(@schedule_presenter.dates.first)
  = select_month(@schedule_presenter.dates.first)
  = select_day(@schedule_presenter.dates.first)
  = submit_tag "View date"
%p= link_to "View today", weekly_call_schedule_path

%table.schedule
  %thead
    %tr
      %th
      - @schedule_presenter.dates.each do |date|
        %th{ :class => date == Date.today ? "current-date" : "" }= date.to_s(:short_with_weekday)
  %tbody
    - @schedule_presenter.shifts_by_section.each do |section, shifts|
      %tr
        %th{ :colspan => 8, :style => "background-color: #c0d9d9;" }= section.title
      - shifts.each do |shift|
        %tr
          %th= shift.title
          - @schedule_presenter.dates.each do |date|
            = render :partial => "schedule_cell.html", :object => @schedule_presenter.summaries_by_section_id_shift_id_and_date(section.id, shift.id, date)
