- page_title "On Call"

%h3 Published Call Schedule
%h3= "Week of #{@dates.first.to_s(:long)}"
= form_tag weekly_call_schedule_path, :method => :get do
  = select_year(@dates.first)
  = select_month(@dates.first)
  = select_day(@dates.first)
  = submit_tag "Jump to date"
%p= link_to "view today", weekly_call_schedule_path

- mapped_assignments = @call_assignments.group_by {|a| [a.shift_id, a.date]}
- shifts_by_section = @call_shifts.group_by {|s| s.section}
%table.schedule
  %thead
    %tr
      %th
      - @dates.each do |date|
        %th{ :class => date == Date.today ? "current-date" : "" }= short_date(date)
  %tbody
    - shifts_by_section.each do |section, shifts|
      %tr
        %th{ :colspan => 8, :style => "background-color: #c0d9d9;" }= section.title
      - shifts.each do |shift|
        %tr
          %th= shift.title
          - @dates.each do |date|
            - assignments_by_shift_and_date = mapped_assignments[[shift.id, date]]
            - if assignments_by_shift_and_date
              %td{ :class => date.today? ? "current-date" : "" }
                - assignments_by_shift_and_date.each do |assignment|
                  - physician = @physicians_by_id[assignment.physician_id]
                  = link_to physician.short_name, schedule_physician_path(physician)
                  %br
            - else
              %td &nbsp;
