%head
  %title
    = "Saturn - #{content_for?(:page_title) ? yield(:page_title) : "Scheduling"}"

  = csrf_meta_tag
  = stylesheet_link_tag "application"
  = stylesheet_link_tag "print", :media => :print
  = yield :stylesheets
  = javascript_include_tag "application"
  = yield :javascripts
  = favicon_link_tag "favicon.png"
