%h2 Add Section

%div.form-container
  = semantic_form_for @section do |section_form|
    = section_form.inputs :title, :description
    = section_form.buttons do
      = section_form.commit_button
      %li
        or
        = link_to "Cancel", sections_path
