- content_for :javascripts do
  = javascript_include_tag "sections/assignment_request"

%div.form-container
  = semantic_form_for [section, assignment_request] do |assignment_request_form|
    = assignment_request_form.inputs do
      - if assignment_request.requester.present?
        = assignment_request_form.input :requester_id, :as => :hidden
      - else
        = assignment_request_form.input :requester, :as => :select, :collection => section.members
      = assignment_request_form.input :shift, :as => :select, :collection => section.active_shifts
      = assignment_request_form.input :start_date, :as => :string
      = assignment_request_form.input :end_date, :as => :string
      = assignment_request_form.input :comments, :input_html => { :rows => 5 }
    = assignment_request_form.buttons do
      = assignment_request_form.commit_button :button_html => { :class => "button" }
      %li
        or
        = link_to "Cancel", section_assignment_requests_path(section)
