%span{ :style => "color:#{shift[:color]}" }><= shift[:title]
%span.note
  = image_tag('phone.jpg', :alt => shift[:phone], :class => "right") if shift[:phone]
  %span.note-text= shift[:phone]
%span.note
  = image_tag('pub-note.gif', :alt => shift[:note], :class => "right") if shift[:note]
  %span.note-text= shift[:note]
