- content_for :content_menu do
  = render "schedules/section_menu"

:javascript
  $(function() {
    var onSelected = function(selectedDate) {
      var option = this.id == "meeting_request_start_date_datepicker" ? "minDate" : "maxDate";
      instance = $( this ).data( "datepicker" );
      date = $.datepicker.parseDate(
        instance.settings.dateFormat ||
        $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
      var dates = $("#meeting_request_start_date_datepicker, #meeting_request_end_date_datepicker").datepicker();
      dates.not( this ).datepicker( "option", option, date );
    };

    $("#meeting_request_start_date").hide();
    $("<input type=\"text\" id=\"meeting_request_start_date_datepicker\"/>").
    insertAfter("#meeting_request_start_date").
    datepicker({
      numberOfMonths: 3,
      minDate: new Date(),
      altField: "#meeting_request_start_date",
      altFormat: "yy-mm-dd",
      dateFormat: "DD, MM d, yy",
      autoSize: true,
      onSelect: onSelected
    });
    var start_date = $("#meeting_request_start_date").val();
    $("#meeting_request_start_date_datepicker").datepicker("setDate",
      $.datepicker.parseDate("yy-mm-dd", start_date));
    $("#meeting_request_end_date").hide();
    $("<input type=\"text\" id=\"meeting_request_end_date_datepicker\"/>").
    insertAfter("#meeting_request_end_date").
    datepicker({
      numberOfMonths: 3,
      minDate: new Date(),
      altField: "#meeting_request_end_date",
      altFormat: "yy-mm-dd",
      dateFormat: "DD, MM d, yy",
      autoSize: true,
      onSelect: onSelected
    });
    var end_date = $("#meeting_request_end_date").val();
    $("#meeting_request_end_date_datepicker").datepicker("setDate",
      $.datepicker.parseDate("yy-mm-dd", end_date));
  });

%div.form-container
  = semantic_form_for [@section, @meeting_request] do |meeting_request_form|
    = meeting_request_form.inputs do
      = meeting_request_form.input :requester, :as => :select, :collection => @section.members
      = meeting_request_form.input :start_date, :as => :string
      = meeting_request_form.input :end_date, :as => :string
      = meeting_request_form.input :comments, :input_html => { :rows => 5 }
    = meeting_request_form.buttons do
      = meeting_request_form.commit_button :button_html => { :class => "button" }
      %li
        or
        = link_to "Cancel", section_meeting_requests_path(@section)
