- page_title "Meeting Requests"

- content_for :content_menu do
  = render "schedules/section_menu"

%h3 Meeting requests

%p= link_to "New Request", new_section_meeting_request_path(@section), { :class => "button" }

- unless @meeting_requests.blank?
  - is_section_admin = can? :manage, @section
  %table
    %thead
      %tr
        %th Requester
        %th Submitted
        %th Dates
        %th Comments
        %th Status
        - if is_section_admin
          %th Actions
    - @meeting_requests.each do |meeting_request|
      %tr
        %td= meeting_request.requester.short_name
        %td
          - time = meeting_request.created_at
          = time.strftime("#{time.day} %b @ %I %p").gsub(/ 0/, " ")
        %td
          - start = meeting_request.start_date
          = start.strftime("#{start.day} %b %Y")
          - unless (end_date = meeting_request.end_date).nil?
            = end_date.strftime(" - #{end_date.day} %b %Y")
        %td= meeting_request.comments
        %td= meeting_request.status.capitalize
        - if is_section_admin
          %td= button_to("Approve", { :action => "approve", :id => meeting_request.id }) if meeting_request.status == "pending"
