- page_title "Editing weekly schedule for #{@section.title}"

- content_for :javascripts do
  = javascript_include_tag "json2", "jquery.tmpl", "third_party/knockout-1.2.0pre.debug", "third_party/knockout.mapping-latest.debug", "saturn/models/scheduleDate", "saturn/models/ruleConflicts", "saturn/models/shiftWeek", "saturn/models/shiftDay", "saturn/models/assignment", "saturn/models/weeklySchedule", "saturn/bindings", :cache => "cache/schedule_editor"
  :javascript
    var viewModel = new weeklySchedule();

    $.each([
      "_directoryListing.htm",
      "_assignmentDetails.htm",
      "_assignment.htm",
      "_shiftDayCell.htm",
      "_shiftWeekRow.htm",
      "_dateColHeader.htm",
      "_weeklySchedule.htm",
      "_rulesConflicts.htm"
    ], function(index, template) {
      $.ajax({
        url: "#{root_url + "javascripts/saturn/templates/"}" + template,
        async: false,
        success: function(template) {
          $("head").append(template);
        }
      });
    });

    $(function() {
      viewModel.refresh();
      ko.applyBindings(viewModel);
    });

- content_for :stylesheets do
  = stylesheet_link_tag "schedule_editor"

- content_for :content_menu do
  = render "schedules/section_menu"

%div#physician-groups{ :style => "display:none;", :"data-bind" => "template: { name: 'directoryListing' }, directoryDialogVisibility: selectedShiftDays" }

%div#assignment-details{ :style => "display: none;", :"data-bind" => "template: { name: 'assignmentDetails', data: editingAssignment }" }

%div{ :"data-bind" => "template: { name: 'weeklySchedule' }" }
%div#schedule-wrapper.main-ui
  %div#schedule{ :"data-bind" => 'ajaxLifecycle: {}, template: { name: "shiftWeekRow", foreach: shift_weeks }' }

%div#rules-conflicts-wrapper{ :"data-bind" => "template: { name: 'rulesConflicts' }" }
