%div.form-container
  = semantic_form_for [@section, @shift] do |shift_form|
    = shift_form.inputs do
      = shift_form.input :title
      - unless @shift.new_record?
        = shift_form.input :sections, :as => :check_boxes, :collection => Section.where("sections.id <> ?", @section.id), :label => "Sharing"
    = shift_form.buttons do
      = shift_form.commit_button :button_html => { :class => "button" }
      %li
        or
        = link_to "Cancel", section_shifts_path(@section)
