- page_title "Manage #{@section.title} shifts"

- content_for :javascripts do
  = javascript_include_tag 'sections/section_shifts', 'sections/shift', 'sections/shift_tags', 'third_party/syronex-colorpicker', 'shared/color_picker', :cache => "cache/shifts_manager"

- content_for :stylesheets do
  = stylesheet_link_tag 'shifts'
  = stylesheet_link_tag 'syronex-colorpicker'

%span.hidden#tags_search_url= search_section_shift_tags_path(@section)

%h3 Manage Shifts

%p
  = link_to "Add Shift", new_section_shift_path(@section), { :class => "button" }
  = link_to "Add Call Shift", new_section_call_shift_path(@section), { :class => "button" }
  = link_to "Add Vacation Shift", new_section_vacation_shift_path(@section), { :class => "button" }
  = link_to "Add Meeting Shift", new_section_meeting_shift_path(@section), { :class => "button" }

= semantic_form_for @section do |section_form|
  - section_shifts_by_shift_id = @section.section_shifts.group_by(&:shift_id)
  = section_form.buttons do
    = section_form.commit_button :button_html => { :class => "button" }
    %li
      or
      = link_to "Cancel", section_shifts_path(@section)
  = hidden_field_tag "redirect_path", section_shifts_path(@section)
  %table#current_shifts
    %thead
      %tr
        %th
        %th Shift
        %th Type
        %th Categories
        %th Duration
        %th Phone
        %th Notes
        %th Display color
        %th Shared with
        %th
        %th{ :colspan => 2 } Retire?
    %tbody
      - @current_shifts.each do |shift|
        %tr.shift{ :class => cycle("odd", "") }
          = section_form.fields_for :shifts, shift do |shift_form|
            %td.control
              %label.handle &nbsp;
            %td.title= shift_form.text_field :title, :maxlength => "255", :size => 30
            %td.type= shift.type_name
            %td.tags= @section.tags_for_shift(shift).map(&:title).join(", ")
            - durations = [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0]
            %td.duration= shift_form.select :duration, durations
            %td.phone= shift_form.text_field :phone, :maxlength => "255", :size => 15
            %td.description= shift_form.text_field :description, :maxlength => "255", :size => 30
          - section_shift = section_shifts_by_shift_id[shift.id].first
          = section_form.fields_for :section_shifts, section_shift do |section_shift_form|
            %td.display_color= section_shift_form.text_field :display_color, :class => "color_picker"
            %td= shift.sections.map { |section| section == @section ? nil : section.title }.compact.join(", ")
            %td= link_to "edit", edit_section_shift_path(@section, shift)
            %td= section_shift_form.check_box :retire
            %td.details.hidden= section_shift_form.hidden_field :position

  %br
  - if @retired_shifts.size > 0
    %h3 Retired Shifts
    %table#retired_shifts
      %thead
        %tr
          %th Shift
          %th Reactivate?
      %tbody
        - @retired_shifts.each do |shift|
          %tr
            %td= shift.title
            %td
              - section_shift = section_shifts_by_shift_id[shift.id].first
              = section_form.fields_for :section_shifts, section_shift do |section_shift_form|
                = section_shift_form.check_box :retire, {}, "0", "1"

  = section_form.buttons do
    = section_form.commit_button :button_html => { :class => "button" }
    %li
      or
      = link_to "Cancel", section_shifts_path(@section)
