%div.form-container
  = semantic_form_for [section, shift_tag] do |tag_form|
    = hidden_field_tag "redirect_path", section_shift_tags_path(section)
    = tag_form.inputs :title
    = tag_form.buttons do
      = tag_form.commit_button :button_html => { :class => "button" }
      %li
        or
        = link_to "Cancel", section_shift_tags_path(section)
