- page_title "Manage #{@section.title} shift categories"

- content_for :content_menu do
  = render "schedules/section_menu.html"

%p= link_to "Add Category", new_section_shift_tag_path(@section), { :class => "button" }

- if @shift_tags.size > 0
  %div.form-container
    = semantic_form_for @section do |section_form|
      = section_form.buttons do
        = section_form.commit_button :button_html => { :class => "button" }
        %li
          or
          = link_to "Cancel", section_shift_tags_path(@section)
      = hidden_field_tag "redirect_path", section_shift_tags_path(@section)
      %table
        - @shift_tags.each do |shift_tag|
          %tr{ :class => cycle("odd", "") }
            = section_form.fields_for :shift_tags, shift_tag do |shift_tag_form|
              %td= shift_tag_form.text_field :title, :maxlength => "255", :size => 30
              %td= shift_tag.shifts.map(&:title).join(", ")
              %td
                - if shift_tag.shifts.size == 0
                  delete category?
                  = shift_tag_form.check_box :_destroy
                - else
                  remove category from shifts?
                  = shift_tag_form.check_box :clear_assignments
      = section_form.buttons do
        = section_form.commit_button :button_html => { :class => "button" }
        %li
          or
          = link_to "Cancel", section_shift_tags_path(@section)
