- content_for :content_menu do
  = render "rotations/rotation_menu"

%h3 Rotation Schedule

%table
  %thead
    %tr
      %th
        - if @view_mode == 1
          = link_to "show rotations on left", resident_rotations_path(:view_mode => 2)
        - else
          = link_to "show residents on left", resident_rotations_path(:view_mode => 1)
      - @rotation_data.each_x_axis_item do |x_item|
        %th!= format_header(x_item)
  %tbody
    - @rotation_data.each_y_axis_item_with_bin do |y_item, bin|
      - if bin
        - rows = bin.rows
        - tr_class = cycle("odd", "")
        %tr{ :class => tr_class }
          %th{ :rowspan => rows.size }!= format_header(y_item)
          - rows.first[:items].each do |item|
            %td{ :colspan => item.size }!= item.data ? @rotation_data.format(item.data) : nil
        - rows.each_index do |row_index|
          - row = rows[row_index]
          - if row_index > 0
            %tr{ :class => tr_class }
              - row[:items].each do |item|
                %td{ :colspan => item.size }!= item.data ? @rotation_data.format(item.data) : nil
