- content_for :content_menu do
  = render "schedules/section_menu"

%h3 Shift assignment rules

%ul
  != nav_item "Edit Rules", edit_section_rules_path(@section), { :class => "button" }, :update, @section

%h4 Weekly limits for shift totals
%ul
  %li
    - unless @weekly_shift_duration_rule and @weekly_shift_duration_rule.maximum?
      No maximum
    - else
      = "Maximum: #{@weekly_shift_duration_rule.maximum}"
  %li
    - unless @weekly_shift_duration_rule and @weekly_shift_duration_rule.minimum?
      No minimum
    - else
      = "Minimum: #{@weekly_shift_duration_rule.minimum}"

%h4 Daily limits by category
%ul
  - @daily_shift_count_rules.each do |rule|
    - if rule.maximum?
      %li= "#{rule.shift_tag.title}: #{rule.maximum}"
