- page_title "#{@section.title} reports"

- content_for :javascripts do
  = javascript_include_tag 'shared/date_selector'
  = javascript_include_tag 'report'

- content_for :content_menu do
  = render "schedules/section_menu"

%h3 Totals from Published Weekly Schedules

%p= link_to "Reports Search", search_shift_totals_section_reports_path(@section)

%div.subheadline
  = semantic_form_for @section, :url => section_shift_totals_path(@section), :html => { :method => :get } do |report_form|
    %h3
      %span#start_date_text= @start_date.to_s(:long)
    %div.inline_form
      = text_field_tag "start_date", @start_date.to_s
    %h3
      %span to&nbsp;
      %span#end_date_text= @end_date.to_s(:long)
    %div.inline_form
      = text_field_tag "end_date", @end_date.to_s
    %ol
      = report_form.commit_button "Get Report", :button_html => { :class => "button" }

%p= link_to 'Download as Excel', section_shift_totals_path(@section, :format => :xls, :start_date => @start_date, :end_date => @end_date), { :class => "button" }

%table.decimal_data
  %thead
    %tr{ :class => cycle("odd", "", :name => "row") }
      %th
      - @physicians_by_group.each do |group_name, people|
        - unless people.blank?
          %th{ :class => "group" }
            %span{ :class => "title" }= group_name
          = render :partial => 'reports/headers/physician.html', :collection => people, :locals => { :group_name => group_name }
  %tfoot
    %tr
      %th
      - @physicians_by_group.each do |group_name, people|
        - unless people.blank?
          %th{ :class => "group" }
            %span{ :class => "title" }= group_name
          = render :partial => 'reports/headers/physician.html', :collection => people, :locals => { :group_name => group_name }
  %tbody
    - @shifts.each do |shift|
      %tr{ :class => cycle("odd", "", :name => "row") }
        %th.shift_label.odd= "#{shift.title} (#{shift.duration})"
        - @physicians_by_group.each do |group_name, people|
          - unless people.blank?
            %td.total= @totals_by_group_and_shift[[group_name, shift.id]]
            - people.each do |person|
              %td{ :class => cycle("odd #{group_name}", group_name, :name => "col") }><= @totals_by_physician_and_shift[[person.id, shift.id]]

%br

%table.decimal_data
  %thead
    %tr{ :class => cycle("odd", "", :name => "row") }
      %th Shift Categories
      - @physicians_by_group.each do |group_name, people|
        %th{ :class => "group" }
          %span{ :class => "title" }= group_name
        = render :partial => 'reports/headers/physician.html', :collection => people, :locals => { :group_name => group_name }
  %tbody
    - @shift_tags.each do |shift_tag|
      %tr{ :class => cycle("odd", "", :name => "row") }
        %th{ :class => cycle("odd", "", :name => "col") }= shift_tag.title
        - @physicians_by_group.each do |group_name, physician|
          %td.total= @totals_by_group_and_tag[[group_name, shift_tag.id]]
          - physician.each do |physician|
            %td{ :class => cycle("odd #{group_name}", group_name, :name => "col") }><= @totals_by_physician_and_tag[[physician.id, shift_tag.id]]
