- content_for :content_menu do
  = render "schedules/section_menu"

%h3= "Report for #{@shift_totals_report.start_date.strftime("#{@shift_totals_report.start_date.day} %B %Y")} - #{@shift_totals_report.end_date.strftime("#{@shift_totals_report.end_date.day} %B %Y")}"

%p= link_to "Generate another report", search_shift_totals_section_reports_path(@section)

= semantic_form_for @shift_totals_report, :url => shift_totals_report_section_reports_path(@section, :format => :xls) do |report_form|
  = report_form.input :start_date, :as => :hidden, :wrapper_html => { :style => "display:none;" }
  = report_form.input :end_date, :as => :hidden, :wrapper_html => { :style => "display:none;" }
  = report_form.input :hide_empty_shifts, :as => :boolean, :wrapper_html => { :style => "display:none;" }
  = report_form.input :shift_ids, :as => :check_boxes, :collection => @shift_totals_report.shift_ids, :wrapper_html => { :style => "display:none;" }
  = report_form.input :group_ids, :as => :check_boxes, :collection => @shift_totals_report.group_ids, :wrapper_html => { :style => "display:none;" }
  = report_form.commit_button :label => "Download Excel"

%p Select a shift below to view totals by day of the week.

%div.fixed-table-wrapper
  %table
    %thead
      %tr
        %th
        - @shift_totals_report.physicians_by_group.each do |group, physicians|
          %th= group.title
          = render :partial => "/reports/headers/physician", :collection => physicians, :locals => { :group_name => nil }
      - @shift_totals_report.shifts.each do |shift|
        %tr
          %th= link_to shift.title, totals_by_day_section_reports_path(@section, shift, :shift_totals_report => params[:shift_totals_report])
          - @shift_totals_report.physicians_by_group.each do |group, physicians|
            %td= @shift_totals_report.totals_by_group_id_and_shift_id[[group.id, shift.id]]
            - physicians.each do |physician|
              %td><= @shift_totals_report.totals_by_physician_id_and_shift_id[[physician.id, shift.id]]
