!!!
%html
  %head
    %title
      Schedules:
      = controller.action_name

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print", :media => :print
    = yield :stylesheets
    = yield :javascripts

  %body
    %div.navcontainer
      %ul.navlist
        != nav_item "On Call", weekly_call_schedule_path
        != nav_item "Duty Roster", daily_duty_schedule_path
        != nav_item "Sections", sections_path
        != nav_item "People", people_path
    %div#personal
      - if user_signed_in?
        = current_user.email
        |
        = link_to "Sign out", destroy_user_session_path
      - else
        = link_to "Sign in", new_user_session_path
    %div#main
      - if @section && !@section.new_record?
        %h2= @section.title
        %div.navcontainer
          %ul.navlist
            != nav_item "View Schedule", weekly_section_schedule_path(@section)
            != nav_item "Vacation Requests", section_vacation_requests_path(@section)
            != nav_item "Edit Schedule", edit_weekly_section_schedule_path(@section, :year => Date.today.year, :month => Date.today.month, :day => Date.today.day), :update, WeeklySchedule
            != nav_item "Members", section_memberships_path(@section), :manage, SectionMembership
            != nav_item "Shifts", section_shifts_path(@section), :manage, Shift
            != nav_item "Shift Categories", section_shift_tags_path(@section), :manage, ShiftTag
            != nav_item "Reports", section_shift_totals_path(@section)
      = render "shared/flash_banner"
      = yield :layout
