!!!
%html
  %head
    %title
      = controller.controller_name
      = controller.action_name

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print", :media => :print
    = yield :stylesheets
    = javascript_include_tag "jquery/jquery-1.4.2.min"
    = yield :javascripts
    = javascript_include_tag "shared/flash"

  %body
    %h1#logo
      = link_to "Scheduler", root_path
    %div#top-menu-wrapper
      %div#top-menu
        %ul
          != nav_item "People", people_path, {}, :manage, Person
          != nav_item "On Call", weekly_call_schedule_path
          != nav_item "Residents", resident_rotations_path
          != nav_item "Sections", sections_path, {:class=>"last"}
    %div#personal-wrapper
      %div#personal
        %div
          - if user_signed_in?
            %span.first= current_user.email
            %span= link_to "Sign out", destroy_user_session_path
          - else
            %span= link_to "Sign in", new_user_session_path
    = render "shared/flash_banner"
    %div#main
      = yield :content_menu
      = yield :layout
