!!!
%html
  = render "shared/head"

  %body
    = render "shared/header"
    = render "shared/personal"
    = render "shared/flash_banner.html"
    %div#main
      = yield :content_menu
      = yield :layout
