!!!
%html
  = render "shared/head"

  %body
    = render "shared/header"
    = render "shared/personal"
    = render "shared/flash_banner.html"
    %div#main
      - date = @dates ? @dates.first : Date.today
      = render "sections/content_menu", :section => @section, :date => date
      = yield :layout
